@import "_variables.scss";
@import "_mixins.scss";
@import "_button.scss";

// h1 {
//   color: red;
//   @include responsive("iphone") {
//     color: yellow;
//   }
//   @include responsive("iphone-l") {
//     font-size: 70px;
//   }
// }
body {
  font-family: Univers, Helvetica Neue, Helvetica, Myriad Pro, Myriad, Geneva,
    Arial, sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
.father {
  padding-left: $fixed;
  // display: grid;
  // gap: 10px;
  // grid-template-columns: 33% 1fr;
  // grid-auto-columns: 100px;
  // height: 100vh;
}

.sidebar {
  width: $fixed;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  // padding: 97.5px 72px 0 72px;
  background-color: $sibebar_bg;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar_top {
  padding: 97.5px 72px 0 72px;
}
.sidebar_top_welcome {
  display: flex;
  flex-direction: column;
}

.sidebar_top_welcome span {
  font-size: $title;
  margin-bottom: 7px;
  font-weight: 700;
  color: $bg;
}

.sidebar_bottom {
  padding: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
}

.sidebar_bottom_description {
  display: flex;
  flex-direction: column;
}
.sidebar_bottom_description-info {
  color: $bg;
  font-weight: 600;
}

.sidebar_bottom_description span {
  margin-bottom: 7px;
  font-size: $desc_title;
  color: $bg;
}
.sidebar_bottom_linker1 {
  margin-bottom: 7px;
}

.sidebar_bottom_linker1 a,
.sidebar_bottom_linker2 a {
  text-decoration: none;
}
.sidebar_bottom_footer {
  font-size: 10px;
}
.main {
  padding: 105px 120px 80px 120px;
  background-color: aqua;

  background-color: $bg;
}

.main_content_movie_direc h1 {
  font-size: 3.5rem;
  font-weight: 600;
}
.main_content {
  height: 100%;
}

.main_content_movie_direc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #ffffff;
  margin-bottom: 38px;
}

.main_content_pic {
  width: 100%;

  position: relative;
  box-shadow: 3px 10px 8px rgb(75, 62, 62);
  cursor: pointer;
}

.main_content_desc {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main_content_desc_space {
  width: 50%;
}
.main_content_desc_info {
  width: 50%;
  color: #ffffff;
}

.main_content_desc_info p {
  line-height: 1.5;
}

.main_content_desc_info_bot {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.main_content_desc_info_bot span:last-child {
  color: #831d16;
}

.main_content_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.main_content_footer span {
  color: #831d16;
}

.recomment_bar {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 50px;
  background-color: #da281b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recomment_bar div {
  padding: 10px;
  color: #ffffff;
}

.movie_flag {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -4%;
  right: 93%;
  padding: 17px 26px 17px 26px;
  background-color: #d1261a;
  color: #ffffff;
  font-size: 1.3rem;
}
